//1 cnpm i @babel/cli @babel/core @babel/plugin-transform-runtime @babel/preset-env @babel/preset-react @babel/preset-stage-0
//2
{
    "presets": ["@babel/env","@babel/react"],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose" : true }],
      ["@babel/plugin-transform-runtime"]
    ]
  }
  